.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32rem;
  width: fit-content;
  text-align: center;
  max-height: 2.875rem;
  height: 100%;
  box-shadow: var(--filter-button-drop-shadow);
  background-color: var(--filter-button-bg-color);
  border: var(--filter-button-border);
  color: var(--filter-button-text-color);

}

.filter {
  padding: 0.5rem 1.125rem 0.625rem 1.125rem;
}

.remove {
  padding: 0.5rem 1rem;
  box-shadow: none;
  background-color: var(--filter-button-bg-color-remove);
}

.button:hover {
  cursor: pointer;
  opacity: 70%;
}

.button:focus-visible {
  outline:none;
  border: none;
  box-shadow: var(--filter-button-box-shadow);
}

.button.active {
  background-color: var(--filter-button-active-bg-color);
  color: var(--filter-button-active-text-color);
  border-color: var(--filter-button-active-border-color);
  box-shadow: none;
  transition: 0.25s;
}

.button.active:hover {
  cursor: pointer;
  background-color: var(--red-500);
  opacity: 100%;
}

.button.active:focus-visible {
  box-shadow: var(--filter-button-active-box-shadow );
}